ANTHROPIC_API_KEY=<YOUR-ANTHROPIC-API-KEY>
OPENCODE_API_KEY=<YOUR-OPENCODE-API-KEY>
GH_TOKEN=<YOUR-GITHUB-TOKEN>
LINEAR_API_KEY=<YOUR-LINEAR-API-KEY>
GIT_AUTHOR_NAME=<YOUR-GIT-NAME>
GIT_AUTHOR_EMAIL=<YOUR-GIT-EMAIL>
